name: code-quality

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Prisma generate
        run: pnpm exec prisma generate

      - name: Setup Biome
        uses: biomejs/setup-biome@v2

      - name: Run Biome checks
        run: biome ci

      - name: TypeScript type checking
        run: bash -c tsc --noEmit
